* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: #fff;
}
#header {
  height: 100vh;
  width: 100%;
  background-image: url(./photo/IMG_20241016_203142_534.png);
  background-size: cover;
  background-position: center;
}
/* img{
       width:100%
   } */
span {
  font-size: 6rem;
  color: rgb(227, 136, 161);
}
h1 {
  font-size: 6rem;
  color: rgb(247, 255, 223);
  /* color:rgb(222, 218, 135) */
  font-style:italic;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
ul li {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 0 0 100px rgb(161, 11, 83);
}
.modal {
 
  /* flex-wrap:wrap-reverse; */
  max-width: 80%;
  height:200 px;
  color: #1c1b1b;
  background-color:rgb(255, 253, 253);
  /* margin-left: 65%; */
  position: absolute;
  top:10%;
  left: 15%;
  right:15%;
  border-radius: 5px;
  padding: 40px;
  z-index: 10;
  transition: 2s;
}
.modal-home
{
display: flex;
justify-content: space-around;
}
.hidden {
  /* text-align: right; */

  display: none;
}

.header h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  display: block;
  width: fit-content;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  #header {
    display: block;
    background-image: url(./photo/IMG_20241016_201944_057.png);
  }
}

/* header{
       
     } */

.close {
  position: absolute;
  top: 0.1rem;
  right: 0.5rem;
  font-size: 1.5rem;
  color: #ec0808;
  cursor: pointer;
  border: none;
  background: none;
  height:30px;
  width:25px;
  border-radius: 3px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.btn-home {
  /* border: yellow solid; */
  width:200px;
  margin: 15px;
  border-radius: 2rem;
  padding: 10px;
  font-size: 2rem;
  color:rgb(18, 6, 6);
  /* background-color: rgba(50, 60, 90, 0.6); */
  cursor: pointer;
}
.modal p {
  margin: 15px;
  padding: 5px;
  text-align: justify;
}
.close:hover{
    background-color: red;
    color:white;
}
li:hover{
    color: rgb(70, 70, 67);
    /* background-color: rgb(195, 225, 255); */
    border-radius: 10%;
    padding:2px;
    transition: 1s;
}
.btn-home:hover{
    color: #e09595;
}
.resume1{
    z-index: 15;
    position:absolute;
    top: 2rem;
    left:1rem;

}
button{
  /* background-color:rgb(104, 255, 104); */
  border: rgb(23, 240, 8) solid;
  
}

/* .home{
  display:flex;
  flex-direction: column;
  border: yellow solid;

} */
 h4{
  font-size: 2rem;
  color:rgb(100, 103, 106);
  font-weight:800;
 }
 .container .modal{
  border:yellow solid;
 }
 .img img{
  width:200px;
  height:180px;
  border:#748367 solid 5px;
 }

 .text{
  font-size: larger;
  font-weight: 600;
  color:aliceblue
 }